npm-debug.log
.dockerignore
.git
.vscode
.gitignore
.env
config
build
node_modules
docker-compose.dev.yaml
docker-compose.prod.yaml
docker-compose.yaml
Dockerfile
Dockerfile.dev
Dockerfile.prod
Makefile
README.md

