/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}


.announcement {
  font-weight: bold;
  font-size: 24px;
  padding: 48px;
  margin: 0 auto;
  text-align: center;
  /* background-color: #26b946; */
}

.announcementDark {
  /* background-color: #20232a; */
  color: #fff;
  /* Reapply the primary color, because it has been locally overridden as
   * the dark theme color */
  /* --ifm-link-color: var(--ifm-color-primary); */
}

.announcementInner {
  margin: 0 auto;
  max-width: 768px;
}