@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --text-link: #2ca202;
  --text-link-hover: #134700;
  --text-interval: #666666;

  --border-cell: #ffffff;
  --border-box: #b8b8b8;
  --border-grid: #d9d9d9;

  --background-cell: #d9d9d9;
  --shadow: #00000080;
}

body {
  -webkit-font-smoothing: antialiased;
  width: 100vw;
  height: 100%;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden !important;
}

@media print {
  * {
    box-shadow: none;
  }

  body {
    margin: 0px;
    padding: 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
  }
}
