@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

html {
  height: auto !important;
}

:root {
  --text-link: #2ca202;
  --text-link-hover: #134700;
  --text-interval: #666666;
  --text-cell: #2d3133;
  --text-cell-light: #d9d9d9;
  --ifm-color-primary: #237631;
  --ifm-color-danger: #d61927;

  --border-cell: #ffffff;
  --border-grid: #d9d9d9;
  --border-empty-box: #b8b8b8;
  --background-cell: #d9d9d9;
  --shadow: #00000080;

  --slider-track: #0000007a;

  --font-size-base: 16;
}

[data-theme="dark"] {
  --border-cell: #1c1e21;
  --border-grid: #3b4042;
  --border-empty-box: #353a3c;

  --background-cell: #2d3133;

  --text-cell: #d9d9d9;
  --text-cell-light: #d9d9d9;
}

body {
  -webkit-font-smoothing: antialiased;
  /* width: 100vw; */
  font-family: "Poppins", sans-serif;
  height: auto !important;
  overflow-x: hidden !important;
}

.navbar {
  box-shadow: 0px 1px 2px rgb(0, 0, 0, 0.1);
}

.container {
  height: 100%;
}

@media print {
  * {
    box-shadow: none;
  }

  body {
    margin: 0px;
    padding: 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
  }
}
